<style>
    .container {
        max-width: 1035px;
        column-count: 3; /* Set the number of columns to 4 */
        column-gap: 20px; /* Adjust the gap between columns if needed */
    }

    .col{
        margin-bottom:105px;
    }

    .flex{
        display: flex;
    }

</style>

<div class="text-center" ng-controller="app.views.expenseDetails.monthlyView as vm">
    <div class="container">
        <div class="col">
            <button ng-click="vm.jan">January</button>
        </div>
        <div class="col">
            <button ng-click="vm.feb">February</button>
        </div>
        <div class="col">
            <button ng-click="vm.mar">March</button>
        </div>
        <div class="col">
            <button ng-click="vm.april">April</button>
        </div>
        <div class="col">
            <button ng-click="vm.may">May</button>
        </div>
        <div class="col">
            <button ng-click="vm.june">June</button>
        </div>
        <div class="col">
            <button ng-click="vm.jul">July</button>
        </div>
        <div class="col">
            <button ng-click="vm.aug">August</button>
        </div>
        <div class="col">
            <button ng-click="vm.sept">September</button>
        </div>
        <div class="col">
            <button ng-click="vm.oct">October</button>
        </div>
        <div class="col">
            <button ng-click="vm.nov">November</button>
        </div>
        <div class="col">
            <button ng-click="vm.dec">December</button>
        </div>
    </div>
</div>